.image {
    max-width: 40vw;
    max-height: 70vh;

    border: solid white 2px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;

    /* margin-left: 5%;
    margin-right: 5%; */
}

.aboutItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    

    border-radius: 15px;

    /* margin-bottom: 5px; */
}