@import "../../variables.css";

.container {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.description {
    font-size: 1vw;
    text-align: justify;
}

.title {
    /* font-size: 110px; */
    font-size: 5vw;
}

.image {
    /* max-width: 60vw; */
    max-height: 60vh;
}

@media (max-width: 1200px) {
    .container {
      flex-direction: column-reverse;
      margin-left: 10%;
      margin-right: 10%;
      justify-content: center;
      gap: 10vh;
    }

    .image {
        max-height: 40vh;
    }

    .title {
        font-size: 7vw;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }

    .description {
        font-size: 2vw;
        /* margin-left: 5%; */
        margin-right: 5%;
        text-align: center;

    }
  }